<div class="card" style="width: 24rem; margin-bottom: 15px;">
  <img class="card-img-top img mx-auto" src="{{getFullImagePath()}}" alt="{{book.name}}">
  <div class="card-body">
      <app-tabs [book]="book"></app-tabs>
      <h5 class ="card-title">{{book.name}}</h5>
        <p class="card-text author">By: {{book.author}}</p>
        <p class="card-text">{{book.price | currency}}</p>
  </div>
    <!--{{book.formats}}-->
    <select class = "form-control" [(ngModel)] = "selectedFormat">
        <option *ngFor="let format of book.formats">{{format}}</option>
    </select>
    <button *ngIf="book.inventory > 0" class="btn btn-secondary" (click)="addToCart()">Add to Cart</button>
    <button *ngIf="book.inventory <= 0" class="btn btn-danger" disabled>Sold Out</button>
</div>
