.author {
    font-size: small;
}
.card {
    max-width:180px;
    margin: 10px;
}

.img {
    max-width: 180px;
    max-height: 230px;
}

.name {
    font-size: large;
}

body {
    padding-left: 3px;
    padding-right: 3px;
}
