@font-face {
    font-family: "Harry Potter";
    src: url('HARRYP.ttf');
    font-family: "Lumos";
    src: url('LumosLatino.ttf');
}

.author {
    font-size: small;
}

.card {
    border: 0;
    opacity: .8;
    padding-top: 3vh;
}

.card-body {
    padding-left: 5px;
    padding-right: 5px;
}

.card-deck {
    justify-content: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.img {
    max-width: 170px;
    max-height: 240px;
    align-items:center;
}

.movie {
    background-image: url("assets/hphalf.jpg");
}

.name {
    font-size: large;
}

.navbar {
    font-family: "Lumos", "Arial";
    font-size: large;
}


.print {
    background-image: url("assets/hpsorcerers.jpg");
}

body {
    background-image: url("assets/background.jpg");
    background-color: white;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
