.author {
    font-size: small;
}

.card {
    border: 0;
    padding-bottom: 4vh;
    padding-top: 4vh;
}

.card-body {
    padding-left: 5px;
    padding-right: 5px;
}

.card-deck {
    margin-left: 10px;
    margin-right: 10px;
    justify-content: center;
}

.img {
    max-width: 170px;
    max-height: 240px;
    align-items:center;
}

.name {
    font-size: large;
}
